@font-face {
  font-family: sahel;
  src: url(/font/Sahel.ttf);
}

@font-face {
  font-family: sahel-bold;
  src: url(/font/Sahel-Bold.ttf);
}

@font-face {
  font-family: sahel-black;
  src: url(/font/Sahel-Black.ttf);
}

.containar > div {
  display: flex;
}

.menu {
  padding-top: 20px;
}

.menuitem {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.heder {
  justify-content: center;
  align-items: center;
}

.body {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
