@font-face {
  font-family: sahel;
  src: url(/webfonts/farsi/Sahel.ttf);
}

@font-face {
  font-family: Sahel-Bold;
  src: url(/webfonts/farsi/Sahel-Bold.ttf);
}

@font-face {
  font-family: Tanha;
  src: url(/webfonts/farsi/Tanha.ttf);
}

.heder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.menu {
  display: flex;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  row-gap: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
